:root {
  --main-bg-color: #88b5b4;
  --header-bg-color: #4aa3a3;
  --window-bg-color: #c1d7d8;
}

body {
  font-family: Russo One, sans-serif;
}

.App {
  display: flex;
  justify-content: center;
  height: 100vh;
  background-color: #8D8D8D;
}

#drum-machine {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  width: 600px;
  margin: auto;
  background-color: #B3B3B3;
  border: 5px solid #FFA500;
}

#drum-pad-wrapper {  
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 80px);
  gap: 10px 10px;
  grid-auto-flow: row;
  grid-template-areas:
    ". . ."
    ". . ."
    ". . .";
  text-align: center;
  outline: none;
}

.drum-pad {
  width: 100px;
  height: 80px;
  line-height: 80px;
  border-radius: 5px;
  background-color: #808080;
  box-shadow: black 3px 3px 5px;
}

#controls {
  width: 220px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#display {
  background-color: #8D8D8D;
  width: 120px;
  text-align: center;
  padding: 10px 0;
  margin: 25px 0;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

